button,
.button {
  align-items: center;
  justify-content: center;
  border: 1px solid $grey-darker;
  background-color: $black;
  border-radius: $spacing;
  color: $white;
  cursor: pointer;
  display: flex;
  font-size: 1.25rem;
  font-family: $font-heading;
  padding: $spacing * 1 $spacing * 3;
  appearance: none;

  &:hover {
    background-color: $grey-darker;
  }

  &--icon {
    fill: $white;
  }

  &--border-left {
    border: 0;
    border-left: 1px solid $grey-darker;
  }
}
