button,
.button {
  align-items: center;
  justify-content: center;
  background-color: $accent;
  border-radius: $spacing;
  border: 0;
  color: $black;
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: $font-heading;
  max-width: 320px;
  padding: $spacing * 2 $spacing * 3;
  appearance: none;

  &:hover {
    background-color: darken($accent, 10%);
  }

  &--icon {
    fill: $white;
  }

  &--border-left {
    border: 0;
    border-left: 1px solid $grey-darker;
  }
}
