button,
.button {
  align-items: center;
  justify-content: center;
  background-color: $grey-dark;
  color: $white;
  border-radius: $border-radius * 6;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 700;
  font-family: $font-heading;
  padding: 1rem 2rem;
  appearance: none;

  &:hover {
    background-color: lighten($grey-dark, 10%);
  }

  &--accent {
    background-color: var(--accent);
    color: var(--body-bg);

    &:hover {
      background-color: darken($accent-muted, 10%);
    }
  }

  &--icon {
    fill: $white;
  }

  &--border-left {
    border: 0;
    border-left: 1px solid $grey-darker;
  }
}
