html {
  font-family: $font-base;
  font-size: 1.2rem;
  line-height: 1.5rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media (max-width: #{$breakpoint-tablet}) {
    font-size: 1.1em;
  }
}

.h1,
h1,
.h2,
h2,
.h3,
h3 {
  font-family: $font-heading;
  font-weight: 800;
  font-kerning: auto;
}

.h1,
h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1rem;
  letter-spacing: 0.025rem;
}
.h2,
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 0.5rem;
}
.h3,
h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0 0 0.5rem;
}

p {
  line-height: 1.9rem;
  margin-bottom: 2rem;
}

ul {
  margin-bottom: 2rem;
  line-height: 1.9rem;
  li {
    line-height: 1.9rem;
  }
}

blockquote {
  margin-bottom: 1rem;
  quotes: "“" "”" "‘" "’";
  width: 100%;

  &,
  & p {
    font-size: 1.2rem;
    font-style: italic;
    text-align: left;
  }

  p {
    color: $grey;
    &:before {
      color: $grey;
      content: open-quote;
    }
    &:after {
      color: $grey;
      content: close-quote;
    }
  }
}

a {
  color: $accent;

  &:hover {
    text-decoration: none;
  }
}

table {
  border-collapse: collapse;
  margin-bottom: $spacing * 2;
  width: 100%;
  max-width: 100vw;
  overflow-y: auto;

  tbody {
    color: var(--section-fg);
    tr {
      &:nth-child(odd) {
        background-color: var(--section-bg-alt);
      }
      &:nth-child(even) {
        background-color: var(--section-bg);
      }
      &:hover {
        background-color: var(--section-bg);
      }
    }
  }

  th,
  td {
    font-size: 0.9rem;
    text-align: left;
    padding: $spacing * 2;
  }
}

ul {
  list-style-position: outside;

  li {
    margin-left: $spacing * 4;
  }
}
