$black: #1a1a1a;
$white: #fff;
$accent: #99df3f;
$accent-muted: desaturate($accent, 20%);
$blue: #3f46df;
$blue-muted: saturate(lighten($blue, 25%), 20%);
$grey-darkest: #212125;
$grey-darker: #272729;
$grey-dark: #373739;
$grey: #7a7a7d;
$grey-light: #9a9a9c;
$grey-lighter: #bababc;
$grey-lightest: #ededef;
$red: #df3f3f;
$cyan: #3fc2df;

$font-base: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif;
$font-heading: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;

$breakpoint-desktop: 1600px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 600px;

$border-radius: 8px;
$spacing: 8px;
